* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

li a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid lightgray;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.344);
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  padding: 35px;
  border: 5px solid yellowgreen;
  border-radius: 100px;
}

nav ul {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

main {
  width: 90%;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrap {
  width: 50%;
  max-width: 500px;
}

.search-form {
  display: flex;
  justify-content: space-around;
}

.main-content-wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.show-card {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.show-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.like-button {
  width: 30px;
  height: 30px;
  margin-inline: auto;
  background-image: url(./heart-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.like-button:hover {
  background-image: url(./heart-svgrepo-com-shaded.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-button {
  cursor: pointer;
  padding: 10px 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: box-shadow 0.5s;
}

.comment-button:hover {
  box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.356);
}

.comments-popup-wrap {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border: 1px solid #000;
  backdrop-filter: blur(50px);
}

.comments-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
}

.popup-image {
  width: 80%;
}

.popup-close-btn {
  font-size: 100px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.pop-show-header {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pop-show-header > * {
  font-weight: 600;
}

.show-language {
  text-align: center;
  margin-block: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.popup-close-btn:hover {
  color: red;
}

.popup-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.comments-title {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

.popup-comments {
  width: 100%;
}

.popup-comment-form {
  width: 80%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

footer {
  width: 100%;
  border: 2px solid #000;
  font-size: 15px;
  font-weight: 250;
  text-align: center;
  margin: 15px 0 5px 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

li a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid lightgray;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.344);
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  padding: 35px;
  border: 5px solid yellowgreen;
  border-radius: 100px;
}

nav ul {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

main {
  width: 90%;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrap {
  width: 50%;
  max-width: 500px;
}

.search-form {
  display: flex;
  justify-content: space-around;
}

.main-content-wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.show-card {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.show-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.like-button {
  width: 30px;
  height: 30px;
  margin-inline: auto;
  background-image: url(./heart-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.like-button:hover {
  background-image: url(./heart-svgrepo-com-shaded.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-button {
  cursor: pointer;
  padding: 10px 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: box-shadow 0.5s;
}

.comment-button:hover {
  box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.356);
}

.comments-popup-wrap {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border: 1px solid #000;
  backdrop-filter: blur(50px);
}

.comments-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
}

.popup-image {
  width: 80%;
}

.comments-popup-image {
  height: 40px;
}

.popup-close-btn {
  font-size: 100px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.pop-show-header {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pop-show-header > * {
  font-weight: 600;
}

.show-language {
  text-align: center;
  margin-block: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.popup-close-btn:hover {
  color: red;
}

.popup-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.comments-title {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

.popup-comments {
  width: 100%;
}

.popup-comment-form {
  width: 80%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

footer {
  width: 100%;
  border: 2px solid #000;
  font-size: 15px;
  font-weight: 250;
  text-align: center;
  margin: 15px 0 5px 0;
}
