* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

li a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid lightgray;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.344);
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  padding: 35px;
  border: 5px solid yellowgreen;
  border-radius: 100px;
}

nav ul {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

main {
  width: 90%;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrap {
  width: 50%;
  max-width: 500px;
}

.search-form {
  display: flex;
  justify-content: space-around;
}

.main-content-wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.show-card {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.show-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.like-button {
  width: 20px;
  height: 20px;
  background-image: url(https://www.svgrepo.com/svg/498078/heart);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.like-button:hover {
  background-image: url('https://www.svgrepo.com/svg/434113/heart');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-button {
  cursor: pointer;
  padding: 10px 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: box-shadow 0.5s;
}

.comment-button:hover {
  box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.356);
}

.comments-popup-wrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  border: 1px solid #000;

  z-index: 9;

}

.comments-popup-header {
  display: flex;
  gap: 20px;
}

.comments-popup-image {
  width: 70%;
  background: cover;
}

.comments-popup-close-button {
  
}

footer {
  width: 100%;
  border: 2px solid #000;
  font-size: 15px;
  font-weight: 250;
  text-align: center;
  margin: 15px 0 5px 0;
}

/* https://www.svgrepo.com/svg/405797/heart-suit */

/* https://www.svgrepo.com/show/500510/close.svg */

/*
@media screen and (min-width: 425px ) {
  .main-content-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px ) {
  .main-content-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px ) {
  .main-content-wrap {
    grid-template-columns: repeat(6, 1fr);
  }
} */
